body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #3c3b40;
}

.main{
   display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.login{
  background-color: #c0c0c0;
  color: #707070;
  padding: 30px;
  margin: 20px;
}
label{
  text-align: left;
  font-weight: bold;
}

input{
  text-align: left;
  padding: 10px 0px px 0px;
  margin: 5px 0px 5px 0px;
  width: 300px;
}

button{
  background-color: #707070;
  color:  #c0c0c0;
  border: none;
  padding: 8px 10px 8px 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.signin-link{
 text-decoration: none;
 font-weight: bold;
  
}


